<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Hello</title>
    <meta charset="utf-8">
    <!-- utf-8 works for most cases-->
    <meta name="viewport" content="width=device-width">
    <!-- Forcing initial-scale shouldn't be necessary-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Use the latest (edge) version of IE rendering engine-->
    <meta name="x-apple-disable-message-reformatting" content="">
    <!-- Disable auto-scale in iOS 10 Mail entirely-->
    <link rel="apple-touch-icon" sizes="180x180" href="skin/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="skin/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="skin/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="skin/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="skin/img/manifest.json">
    <link rel="mask-icon" href="skin/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="skin/img/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="skin/styles/styles.css">
    <!--include ../inc/_favicons-->
  </head>
  <body id="layout_body" data-slideout-closed="true">
    <div class="site-body">
      <div class="site-content" id="app">
        <header class="header">header
        </header>
        <main class="main-content">content
        </main>
      </div>
      <footer class="footer">footer
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"></script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
      <script src="skin/js/bundle.js"></script>
    </div>
  </body>
</html>