mixin sto-up(text)
    +b.sto-up
        != text
        +e.A.a(href="http://www.100up.ru/" target="_blank")
            +e.SVG.icon
                +e.PATH.icon-path-1(d='M0.966,0.064a0.962,0.962,0,1,0,0,1.923A1.349,1.349,0,0,1,2.317,3.333v7.692a0.969,0.969,0,0,0,1.938,0V3.333A3.28,3.28,0,0,0,.966.064Zm10.6,0a5.962,5.962,0,1,0,6.007,5.962A5.991,5.991,0,0,0,11.564.064Zm0,10a4.039,4.039,0,1,1,4.069-4.038A4.058,4.058,0,0,1,11.564,10.064Zm13.305-10a5.962,5.962,0,1,0,6.007,5.962A5.991,5.991,0,0,0,24.869.064Zm0,10a4.039,4.039,0,1,1,4.069-4.038A4.058,4.058,0,0,1,24.869,10.064Z')
                +e.PATH.icon-path-2(d='M43.33,0.064a0.965,0.965,0,0,0-.969.962v5a4.069,4.069,0,0,1-8.138,0v-5a0.969,0.969,0,0,0-1.938,0v5a6.007,6.007,0,0,0,12.013,0v-5A0.965,0.965,0,0,0,43.33.064ZM51.991,0a6,6,0,0,0-6.012,5.962v8.077a0.969,0.969,0,0,0,1.938,0V5.962a4.071,4.071,0,1,1,2.458,3.705,0.971,0.971,0,0,0-1.275.5,0.959,0.959,0,0,0,.5,1.265A6.014,6.014,0,0,0,58,5.962,5.993,5.993,0,0,0,51.991,0ZM50.659,7.2l1.364-1.354L53.388,7.2a0.649,0.649,0,0,0,.913,0,0.638,0.638,0,0,0,0-.907L52.924,4.921a1.28,1.28,0,0,0-1.8,0L49.746,6.289a0.638,0.638,0,0,0,0,.907A0.649,0.649,0,0,0,50.659,7.2Z')