-
    var config = {
        sources: {
            images: 'assets/images',
            skin: {
                images: 'skin/img'
            },
            skinImages: 'skin/img'
        }
    }

    // Aliases
    var skinImages = config.sources.skin.images,
        assetsImages = config.sources.images



    // Data